<!-- navbar.component.html -->
<div class="navbar-container">
  <app-category></app-category>

  <!-- Top Navigation Bar -->
  <div class="sticky top-0 border-bottom-1 border-gray-200 shadow-1 z-1 bg-white">
    <p-toolbar [styleClass]="'bg-white border-top-none border-x-none border-noround sm:flex sm:justify-content-center sm:w-full md:flex md:justify-content-between px-8'">
      <!-- Logo Section -->
      <div class="p-toolbar-group-start pl-1 sm:hidden md:flex cursor-pointer" routerLink="/">
        <fa-icon [icon]="['fas', 'house']" size="2x" class="text-primary"></fa-icon>
        <div class="font-bold text-primary pl-2 text-2xl">BlaBlaHouse</div>
      </div>

      <!-- Search Section -->
      <div class="p-toolbar-group-center search-container" (click)="openNewSearch()">
        <div class="search-input-group">
          <button class="search-button">{{location}}</button>
          <div class="separator"></div>
          <button class="search-button">{{dates}}</button>
          <div class="separator"></div>
          <button class="search-button text-gray-400">{{guests}}</button>
          <button class="search-icon">
            <fa-icon [icon]="'search'" class="text-white"></fa-icon>
          </button>
        </div>
      </div>

      <!-- User Menu Section -->
      <div class="p-toolbar-group-end sm:hidden md:flex">
        @if(authService.isAuthenticated()){
          <a class="p-button p-button-link" (click)="openNewListing()">List Your Space</a>
        }
        <p-menu #menu [model]="currentMenuItems" [popup]="true" styleClass="border-round-xl mt-1"></p-menu>
        <button (click)="menu.toggle($event)" class="user-menu-button">
          <fa-icon [icon]="'bars'" class="text-sm text-dark mr-3"></fa-icon>
          <app-avatar [imageUrl]="connectedUser.imageUrl" avatarSize="avatar-sm"></app-avatar>
        </button>
      </div>
    </p-toolbar>

    <!-- City Slider Section -->
    <div class="city-slider-container">
      <p-carousel [value]="cities" [responsiveOptions]="responsiveOptions" [numVisible]="4" [numScroll]="1">
        <ng-template let-city pTemplate="item">
          <div class="city-card" (click)="selectCity(city)">
            <img [src]="city.image" class="city-image" alt="{{city.name}}"/>
            <div class="city-details">
              <h3 class="city-name">{{city.name}}</h3>
              <p class="city-description">{{city.description}}</p>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>

</div>
